<div class="categories py-5">
  <div class="container">
    <h2 class="categories__title">trending categories</h2>
    <div class="categories__list">
      <div class="row g-5">
        <div class="col-md-3">
          <div class="categories__list__item">
            <div class="categories__list__item__img">
              <img src="assets\images\category\dizzy-designer.png" alt="" />
            </div>
            <div class="categories__list__item__title">Design</div>
            <div class="ategories__list__item__numberCourses">50+Courses</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="categories__list__item">
            <div class="categories__list__item__img">
              <img src="assets\images\category\dizzy-designer.png" alt="" />
            </div>
            <div class="categories__list__item__title">Design</div>
            <div class="categories__list__item__numberCourses">50+Courses</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="categories__list__item">
            <div class="categories__list__item__img">
              <img src="assets\images\category\dizzy-designer.png" alt="" />
            </div>
            <div class="categories__list__item__title">Design</div>
            <div class="categories__list__item__numberCourses">50+Courses</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="categories__list__item">
            <div class="categories__list__item__img">
              <img src="assets\images\category\dizzy-designer.png" alt="" />
            </div>
            <div class="categories__list__item__title">Design</div>
            <div class="categories__list__item__numberCourses">50+Courses</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="categories__list__item">
            <div class="categories__list__item__img">
              <img src="assets\images\category\dizzy-designer.png" alt="" />
            </div>
            <div class="categories__list__item__title">Design</div>
            <div class="categories__list__item__numberCourses">50+Courses</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="categories__list__item">
            <div class="categories__list__item__img">
              <img src="assets\images\category\dizzy-designer.png" alt="" />
            </div>
            <div class="categories__list__item__title">Design</div>
            <div class="categories__list__item__numberCourses">50+Courses</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="categories__list__item">
            <div class="categories__list__item__img">
              <img src="assets\images\category\dizzy-designer.png" alt="" />
            </div>
            <div class="categories__list__item__title">Design</div>
            <div class="categories__list__item__numberCourses">50+Courses</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="categories__list__item">
            <div class="categories__list__item__img">
              <img src="assets\images\category\dizzy-designer.png" alt="" />
            </div>
            <div class="categories__list__item__title">Design</div>
            <div class="categories__list__item__numberCourses">50+Courses</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
