<div class="container py-5">
  <div class="home">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="home__title">
          Education is the best way to <span>Grow up Knowledge</span>
        </div>
        <div class="home__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati
          maiores repudiandae amet soluta quod quos non sequi voluptates at
          maxime!
        </div>
        <button class="main__btn">Try Now</button>
      </div>
      <div class="col-md-6">
        <div class="img__container">
          <img src="assets/images/home.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
