<div class="editProfile p-3">
  <form #loginForm="ngForm" (ngSubmit)="handelSubmit(loginForm)">
    <h2 class="py-4">change Password</h2>
    <!-- Password input -->
    <div class="form-group mb-3">
      <input
        type="password"
        id="form3Example4"
        class="form-control form-control-lg"
        placeholder="Password"
        name="password"
        [(ngModel)]="model.password"
        #password="ngModel"
        required
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      />
    </div>
    <div
      class="alert alert-danger p-1 mt-0"
      role="alert"
      *ngIf="password.invalid && password.dirty"
    >
      <div *ngIf="password.errors?.['required']">password is required</div>
      <div *ngIf="password.errors?.['pattern']">
        Must contain at least one number and one uppercase and lowercase letter,
        and at least 8 or more characters
      </div>
    </div>
    <div class="text-center mt-4 pt-2">
      <button
        type="submit"
        class="main__btn__dash"
      >
        Edit Password
      </button>
    </div>
  </form>
</div>
