<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0 navbar__title" routerLink="">
        <img src="assets/images/logo.png" alt="" width="40" /> Coursatk
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="courses" routerLinkActive="active"
            >Courses</a
          >
        </li>
        <!-- <div class="nav-item dropdown">
          <a
            class="dropdown-toggle nav-link"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            routerLinkActive="active"
          >
            profile
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a
                class="dropdown-item"
                routerLink="login"
                routerLinkActive="active"
                >login</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="register-student"
                routerLinkActive="active"
                >Register</a
              >
            </li>
          </ul>
        </div> -->
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            routerLink="profile-student"
            routerLinkActive="active"
            >profile-student</a
          >
        </li> -->
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" routerLink="courses">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->
      <!-- <div class="dropdown">
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </div> -->
      <!-- Avatar -->
      <div class="dropdown" *ngIf="auth.isLogin">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow user__account"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ auth.userData?.image }}"
            class="rounded-circle"
            height="30"
            width="30"
            alt="image profile"
            loading="lazy"
          />
          <span class="online"></span>
          <!-- <i class="fa-solid fa-user"></i> -->
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li *ngIf="auth.userType == 'student'">
            <a class="dropdown-item" routerLink="profile-student"
              >My profile student</a
            >
          </li>
          <li *ngIf="auth.userType == 'instructor'">
            <a class="dropdown-item" routerLink="instructor-account"
              >Account instructor</a
            >
          </li>
          <!-- <li>
            <a class="dropdown-item" routerLink="">Settings</a>
          </li> -->
          <li>
            <a class="dropdown-item" routerLink="" (click)="handleLogOut()"
              >Logout</a
            >
          </li>
        </ul>
      </div>

      <div class="dropdown" *ngIf="!auth.isLogin">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow user__account"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-user"></i>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" routerLink="login">login</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="register-student">Register</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
