<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0 navbar__title" routerLink="">
        <img src="assets/images/logo.png" alt="" width="40" /> Coursatk
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="courses" routerLinkActive="active"
            >Courses</a
          >
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" routerLink="myCart">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Avatar -->
      <div class="dropdown" *ngIf="auth.isLogin">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow user__account"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ auth.userData?.image }}"
            class="rounded-circle"
            height="30"
            width="30"
            alt="image profile"
            loading="lazy"
          />
          <span class="online"></span>
          <!-- <i class="fa-solid fa-user"></i> -->
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li *ngIf="auth.userType == 'student'">
            <a class="dropdown-item" routerLink="student-account"
              >Account student</a
            >
          </li>
          <li *ngIf="auth.userType == 'instructor'">
            <a class="dropdown-item" routerLink="instructor-account"
              >Account instructor</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="" (click)="handleLogOut()"
              >Logout</a
            >
          </li>
        </ul>
      </div>

      <div class="dropdown" *ngIf="!auth.isLogin">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow user__account"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-user"></i>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" routerLink="login">login</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="register-student"
              >Register as student</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="register-instructor"
              >Register as instructor</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
