:root {
  --main-background-color: #ffb228;
  --main-fontFamily: "Roboto Slab", serif;
  --sec-fontFamily: "Acme", sans-serif;
}

.courses {
  background-color: #eeeeee4a;
}

.courses__list__item__img img {
  width: 100%;
  height: 100px;
}

.courses__title {
  margin-bottom: 50px;
  font-family: var(--main-fontFamily);
  text-transform: capitalize;
  font-size: 35px;
  color: black;
  position: relative;
  padding-bottom: 20px;
  width: fit-content;
}

.courses__title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: var(--main-background-color);
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}

.courses__title:hover::after {
  width: 200px;
}
.courses__list__item {
  /* border: 1px solid #eee; */
  padding: 30px;
  text-align: center;
  /* margin: 20px 0; */
  /* gap: 40px; */
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.089);
  border-radius: 8px;
  transition: all 0.3s;
  /* cursor: pointer; */
  position: relative;
}

/* .courses__list__item:hover {
  transform: scale(1.07);
} */

.courses__list__item__title {
  font-family: var(--main-fontFamily);
  margin: 10px 0;
  font-size: 18px;
}

.courses__list__item__show {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #952323;
  cursor: pointer;
  font-size: 18px;
}

/* ********************************************************* */

.cart__item {
  margin-bottom: 30px;
  border: 1px solid #969696;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.cart__item__name,
.cart__item__price,
.cart__item__numCors.cart__item__numCorses {
  font-family: var(--main-fontFamily);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 10px 0;
}

.btn__delete__cart {
  font-size: 20px;
  color: red;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;

}
