<div class="row m-0">
  <button class="btn_dash" (click)="toggleCollapse()">
    <i class="fa-solid fa-bars-staggered"></i>
  </button>
  <div class="col-3 bg-light dashboard" [ngClass]="{ collapsed: isCollapsed }">
    <p class="dash__title">Coursatk</p>
    <ul class="dash__list">
      <li
        routerLink="profile"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        profile
      </li>
      <li routerLink="edit-profile" routerLinkActive="activeLink">
        Edit profile
      </li>
      <li routerLink="photo" routerLinkActive="activeLink">photo</li>
      <li routerLink="account-security" routerLinkActive="activeLink">
        Account Security
      </li>
      <ng-container *ngIf="auth.userType == 'instructor'">
        <li routerLink="my-Courses" routerLinkActive="activeLink">
          All Courses
        </li>
        <li routerLink="add-course" routerLinkActive="activeLink">
          Add Course
        </li>
        <li routerLink="add-content" routerLinkActive="activeLink">
          Add Content
        </li>
      </ng-container>
      <ng-container *ngIf="auth.userType == 'student'">
        <li
          routerLink="/student-account/wishList"
          routerLinkActive="activeLink"
        >
          Wish List
        </li>
        <li
          routerLink="/student-account/myLearning"
          routerLinkActive="activeLink"
        >
          My Learning
        </li>
        <li routerLink="/student-account/myCart" routerLinkActive="activeLink">
          My Cart
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="col px-0 content">
    <div class="p-3"><router-outlet></router-outlet></div>
  </div>
</div>
