<div class="courses py-5" *ngIf="allCourses">
  <div class="container">
    <div class="courses__list">
      <div class="row g-5">
        <div class="col-12 text-center" *ngIf="isLoading; else showCourses">
          <img src="assets/images/loading2.gif" alt="" width="50" />
        </div>
        <ng-template #showCourses>
          <div
            class="col-12 col-md-6 col-lg-3"
            *ngFor="let course of allCourses"
          >
            <div class="courses__list__item">
              <div class="courses__list__item__img">
                <img src="{{ course?.courseId?.image }}" alt="" />
                <!-- <img src="http://localhost:3000/{{ course.image }}" alt="" /> -->
              </div>
              <div class="courses__list__item__title">
                {{ course?.courseId?.name }}
              </div>
              <div class="row justify-content-between mt-3">
                <div class="col">
                  <div class="courses__list__item__price text-start">
                    <strong>${{ course?.courseId?.price }}</strong>
                  </div>
                </div>
                <div class="col">
                  <div class="courses__list__item__numberCourses text-end">
                    +{{ course?.courseId?.content | countVideos }}
                  </div>
                </div>
              </div>
              <div class="col">

              </div>
              <a
                class="courses__list__item__show"
                routerLink="/student-account/course-details/{{
                  course?.courseId?._id
                }}"
              >
                <i class="fa-solid fa-eye"></i>
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- cart -->
