:root {
  --main-background-color: #ffb228;
  --main-fontFamily: "Roboto Slab", serif;
  --sec-fontFamily: "Acme", sans-serif;
}

.content__course {
  max-height: 800px;
  overflow: auto;
}

.content__course__lesson__container {
  border: 2px solid black;
  /* padding: 10px; */
  background-color: #952323ff;
  cursor: pointer;
}

.content__course__lesson__container__title {
  color: #dad4b5;
  padding: 10px;
}
.content__course__lesson__container__videoName,
.content__course__lesson__container__assignmentName {
  background-color: #dad4b5;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.358);
  /* cursor: pointer; */
}

.video__content video {
  width: 100%;
}

.title {
  font-size: 40px;
  font-family: var(--main-fontFamily);
  margin-bottom: 20px;
  text-transform: capitalize;
}

.message {
  font-size: 20px;
  font-family: var(--main-fontFamily);
  background-color: #dad4b5;
  padding: 5px;
}

.description__course h4 {
  text-transform: capitalize;
  font-family: var(--main-fontFamily);
  margin-top: 30px;
}

.icon__edit__content {
  color: white;
  font-size: 20px;
}

.icon__edit__content:hover {
  color: yellow;
}
